* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

[class^="col_"] {
  float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.float_right {
  float: right;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.inline {
  display: inline-block;
}

.bold {
  font-size: bold;
  font-weight: bold;
}

/* header */

.bg_gray {
  background-color: #F4F9FD;
}

.fixed {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #34485C;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.lang:after {
  content: "˅";
  padding: 5px;
}

.bg_orange {
  background-color: #FE775A;
}

.txt_blue {
  color: #34485C;
}

.txt_orange {
  color: #FE775A;
}

.txt_white {
  color: #FFFFFF;
}

.border_left {
  border-left: 1px solid #34485C;
}

.border_orange {
  border: 1.5px solid #FE775A;
}

.radious {
  border-radius: 5px;
}

.marg_left_10 {
  margin-left: 15px;
}

.pad_1 {
  padding-left: 15px;
}

header a {
  text-decoration: none;
}

/* nav */

nav {
  height: 80px;
  margin-top: 75px;
  line-height: 75px;
}

.bg_white {
  background-color: #ffffff;
}

nav ul li {
  display: inline-block;
  padding-left: 15px;
}

nav ul li:after {
  content: "˅";
  padding-left: 10px;
}

/* jumbo */

.jumbo {
  background-color: #FFF2EE;
  background-image: url(../img/jumbotron.png);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

.title {
  width: 50%;
}

#txt_title {
  font-size: 50px;
}

.marg_top_30 {
  margin-top: 30px;
}

.disp_block {
  display: block;
}

.fit_content {
  width: fit-content;
}

.pad_15 {
  padding: 15px;
}

.marg_top_15 {
  margin-top: 15px;
}

.txt_size_12 {
  font-size: 12px;
}

.line {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #AFEBE4;
  border-top: 2px solid #34485C;
  border-bottom: 2px solid #34485C;
}

 /* main */
/* cards */

.card ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 15px;
 }

 .card ul li:before {
  content: "✓";
  padding: 0 4px;
  background-color: #FE775A;
  color: #FFFFFF;
  border-radius: 50%;
  margin-right: 7px;
  font-size: 9px;
}

.cube {
 width: 35%;
}

.align_center {
  margin: 0 auto;
}

.col_33 {
  width: calc(100% / 3);
}

.col_66 {
  width: calc((100%/3)*2);
}

div [class^="col_"] img {
 height: 6rem;
}

.pad_top_45 {
    padding-top: 45px;
}

.pad_top_bott_45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.txt_align {
  text-align: center;
}

.marg_top_45 {
  margin-top: 45px;
}

.txt {
  text-decoration: none;
}

.pad_right {
  padding-right: 80px;
}
